# Postgres
POSTGRES_USER=skillswap
POSTGRES_PASSWORD=changeme
POSTGRES_DB=skillswap_db

# used by docker compose to set connection string inside containers
PG_URL_DOCKER=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}

# JWT secret for backend
JWT_SECRET_KEY=replace_me_with_a_secret
